@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>

<p>Please Type in your name and account balance below</p>

<form action="/Home/Account" method="GET">
  Name:<br>
  <input type="text" name="name" value="Adam F Ron">
  <br>
  Account Balance:<br>
  <input type="text" name="balance" value="-123456789">
  <br><br>
  <input type="submit" value="Submit">
</form> 
